[submodule "kvasir"]
	path = kvasir
	url = ssh://git@dominicp.de/306_kvasir
[submodule "chip"]
	path = chip
	url = ssh://git@dominicp.de/kvasir_atsamc21e17a
[submodule "recreated_goon"]
	path = recreated_goon
	url = ssh://git@dominicp.de/recreated_goon.git
